---
layout: archive
---


<section id="background">
  <div class="container">
    <h2>Project Description </h2>
    <p>This capstone developed a methodology to estimate subsurface utility infrastructure density (3D volumetric approach) within NYC from NYC geometry data for public right of way area calculations, to permit a subsequent estimation of a utility pricing gap within NYC to support development of revenue sources to finance utilidors. </p>
  </div>
</section>


<section id="methodology">
  <div class="container">
    <h2>Methodology: Transformation method by Alain Bertaud</h2>
    <p>Create surface density metrics and match them with road surface area from LION to show how to convert surface density to subsurface density. </p>
    <img src="/assets/images/method.jpg" alt="Methodology Image">
  </div>
</section>



<section id="density-maps">
  <div class="container">
    <h2>Density Maps</h2>
    <h3>Surface Density Map</h3>
    <img src="/assets/images/surface-density-map.jpg" alt="Surface Density Map">

    <h3>Road Area Map</h3>
    <img src="/assets/images/road-area-map.jpg" alt="Road Area Map">

    <h3>Subsurface Density Map</h3>
    <img src="/assets/images/subsurface-density-map.jpg" alt="Subsurface Density Map">
  </div>
</section>



<section id="density-distribution">
  <div class="container">
    <h2>Density Distribution by Districts</h2>
    <p>The results shown in Figure indicate that the districts with the highest surface densities had the highest subsurface densities which means subsurface density reflects surface density , which confirms the hypothesis that subsurface infrastructure density should mirror surface density. </p>
    <img src="/assets/images/district.jpg" alt="District Image">
  </div>
</section>



{% include paginator.html %}
