---
layout: archive
---


<section id="background">
  <div class="container" style="max-width: 1000px; margin: 0 auto;">
    <h2>background</h2>
    <p>content</p>
  </div>
</section>


<section id="methodology">
  <div class="container">
    <h2>Methodology</h2>
    <p>xxx</p>
    <img src="/assets/images/method.jpg" alt="Methodology Image">
  </div>
</section>



<section id="density-maps">
  <div class="container">
    <h2>Density Maps</h2>

    <h3>Surface Density Map</h3>
    <img src="/assets/images/surface-density-map.jpg" alt="Surface Density Map">

    <h3>Road Area Map</h3>
    <img src="/assets/images/road-area-map.jpg" alt="Road Area Map">

    <h3>Subsurface Density Map</h3>
    <img src="/assets/images/subsurface-density-map.jpg" alt="Subsurface Density Map">
  </div>
</section>



<section id="density-distribution">
  <div class="container">
    <h2>Density Distribution by Districts</h2>
    <p>xxxxxxx</p>
    <img src="/assets/images/district.jpg" alt="District Image">
  </div>
</section>


{% include paginator.html %}
