---
layout: archive
---


<section id="background">
  <div class="container">
    <h2>background</h2>
    <p>content</p>
  </div>
</section>


<section id="methodology">
  <div class="container">
    <h2>Methodology</h2>
    <p>xxx</p>
    <img src="/assets/images/method.jpg" alt="Methodology Image">
  </div>
</section>



<section id="density-maps">
  <div class="container">
    <h2>Density Maps</h2>

    <h3>Surface Density Map</h3>
  

    <h3>Road Area Map</h3>
    

    <h3>Subsurface Density Map</h3>
    
  </div>
</section>



<section id="density-distribution">
  <div class="container">
    <h2>Density Distribution by Districts</h2>
    <p>xxxxxxx</p>
   
  </div>
</section>


{% include paginator.html %}
